.card {
  font-family: "Inter", Arial, sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  background-color: #ffffff;
  color: black;
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  max-width: 187px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.card__like-button {
  background: transparent url(../images/likeButton.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}
.card__like-button:hover {
  opacity: 0.5;
}
.card__like_button-clicked {
  background: transparent url(../images/cardLikeButtonClicked.svg) center
    no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}
.card__delete-button {
  background: transparent url(../images/deleteButton.svg) center no-repeat;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
}
.card__delete-button:hover {
  opacity: 0.5;
}
